#container {
    background: linear-gradient(100deg, rgb(0,0,0,1) 50%, #f85c37 100%);
    box-shadow: #ffa500;
}

#Head 
{
    background: linear-gradient(100deg, rgb(0,0,0,1) 50%, #f85c37 100%);     
}

#Head:hover
{
    color: #fff;   
}

#table
{
    color: #fff;
}

.thead
{
    color: #fff;
}

.tdata-regis
{
    color: #fff;
}

@media screen and (max-width:1024px) {


    #table {
        text-align: center;
    }

    .thead {
        display: none;
    }

    .tdata-regis {
        display: block;
        text-align: center;
        margin: 15px;
    }

    .tdata-regis:first-child {
        background-color: #333;
        color: #fff;
        justify-content: center;

    }

    .tdata-regis:nth-child(1)::before {
        content: "No : ";
        color: #fff;        
    }

    .tdata-regis:nth-child(2)::before {
        content: "Shop Id : ";
        color: #fff;
    }

    .tdata-regis:nth-child(3)::before {
        content: "Name : ";
        color: #fff;
    }

    .tdata-regis:nth-child(4)::before {
        content: "Number: ";
        color: #fff;
    }

    .tdata-regis:nth-child(5)::before {
        content: "Corp Name: ";
        color: #fff;
    }

    .tdata-regis:nth-child(6)::before {
        content: "State: ";
        color: #fff;
    }

    .tdata-regis:nth-child(7)::before {
        content: "City: ";
        color: #fff;
    }

    .tdata-regis:nth-child(8)::before {
        content: "Area: ";
        color: #fff;
    }

    .tdata-regis:nth-child(9)::before {
        content: "Address: ";
        color: #fff;
    }

    .tdata-regis:nth-child(10)::before {
        content: "Pincode: ";
        color: #fff;
    }
}